# Environment Name
NODE_ENV=development

CREDIT_COST=10
# Server listen to this port
SITE_PORT=5001

S3_REGION=eu-central-1
S3_BUCKET=architecture-uploads
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

SITE_URL=http://localhost

SESSION_SECRET_KEY=aa0606cdf43779107980ad58c8ff132472eb7690


PASS_SEC= 29a33ba3f4e6a916e1d0b117d54d9d5e67a1957d
JWT_SEC=4b46cc2677132c7f90f3a8947f965183ef0cf1f2

POSTGRES_PORT=5432

### you dont need to edit under this line:
POSTGRES_HOST=localhost
POSTGRES_USER=arch
POSTGRES_PASSWORD=arch
POSTGRES_DB=arch
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"
